MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=recipe_db
MYSQL_USER=recipe_user
MYSQL_PASSWORD=change_me_user

WORDPRESS_DB_HOST=mysql:3306
WORDPRESS_DB_NAME=recipe_db
WORDPRESS_DB_USER=recipe_user
WORDPRESS_DB_PASSWORD=change_me_user
